// Font Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
// Font PlayFair
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');


$primary-color: #C98730;
$secondary-color: #FF4646;
$white-color: #FFFFFF;
$dark-color: #444444;
$light-color: #ABABAB;
$light-color2: #707070;
$bg-color: #FFFFFF;
$border-color: #ABABAB;
$link-color: #C98730;
$active-color: #FF4646;
$box-color: #F5F2EE;

@mixin lato {
    font-family: 'Lato', sans-serif;
}
@mixin playfair {
    font-family: 'Playfair Display', sans-serif;
}

/* || General styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    background: #fff;
	line-height: 1;
}
a {
    text-decoration: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input {
    border: 0;
}
.wrapper {
    width: 80%;
    margin: 0 auto !important;
}
.container {
    width: 85%;
}
/* … */

/* || Typography */
h3 {
    font-size: 60px;
    font-family: "Playfair Display", sans-serif;
    letter-spacing: 1.5px;
    line-height: 87px;
}
p {
    line-height: 22px;
    letter-spacing: 0.45px;
}
a.link {
    color: $primary-color;
    position: relative;
}
a.link::after {
    content: " ";
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 2px;
    color: $primary-color;
}
/* … */

/* || Header and Main Navigation */
.activeMenu {
    font-weight: bold;
}
.active {
    color: $secondary-color;
}
.navBar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #ababab;
}

.navigationMenu{
    flex: 2 1 auto;
    text-align: center;
    border-left: 1px solid #ababab;
}
.logo {
    display: block;
    padding: 30px 0px;
}
#menuList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    position: relative;
    z-index: 1;   
}
.menu {
    // position: relative;
}
.menu ul li {
    display: flex;
}
.menu ul li a {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    letter-spacing: 1.28px;
    padding-bottom: 21px;
}
.hamburgerMenu {
    padding: 50px;
    color: #ababab;
    font-size: 24px;
    display: none;
}
/////////
// Search
/////////
#searchBox i{
    padding: 50px;
    color: #ababab;
    font-size: 24px;
    cursor: pointer;
}
#searchBox i:hover {
    color: #4a4a4a;
    transition: 1s;
}
#searchContent {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: #1A1A1A;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.searchInput {
    width: 90%;
    padding: 15px 0px;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    font-size: 36px;
}
.searchInput:focus {
    outline: none;
}
.searchInput::-webkit-input-placeholder {
    font-size: 36px;
    color: #fff;
    font-family: "Playfair Display";
    font-weight: 400;
}
/////////////
/// who we are
////////////
#headerContent {
    margin: 50px 0px;
}
.item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.headerRow {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.item:nth-child(1),
.item:nth-child(2){
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: right;
}
.item:nth-child(1){
    font-size: 47px;
    line-height: 0.7;
    margin-top: 10px;
    color: #444444;
    flex: 0;

}
.item:nth-child(2){
    font-size: 47px;
    color: #707070;
    opacity: 30%;
    margin-top: 10px;
    padding: 0px 0px 0px 20px;
}
.item:nth-child(3){
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-weight: 400;
    flex: 1.8;
}
.item:nth-child(4){
    flex: 1.5;
    padding: 0px 0px 0px 70px;
}
.title {
    font-size: 34px;
    color: $dark-color;
    font-weight: 100;
    margin-bottom: 13px;
}
.item:nth-child(3) p {
    color: $light-color;
    font-size: 18px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.45px;
    font-weight: 400;
    color: $light-color;
}
.item:nth-child(5){
    display: flex;
    flex-direction: column;
    gap: 20px;
    order: 1;
    font-family: "PlayFair Display", sans-serif;
    font-size: 21px;
    flex: 1 100%;
    align-content: flex-end;
    flex-wrap: wrap;
    margin: 20px 408px;
}

// About us section
.aboutUs {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: left;
}
.aboutUs:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
}
.aboutImage {
    left: 0;
    max-width: 100%;
    min-height: 633px;
}
// Ovo je za prvi
.aboutContent {
    z-index: 1;
    transform: translate(-99px, 0px);
    width: 865px;
}
.aboutUs:nth-child(2)>.aboutContent {
    z-index: 1;
    transform: translate(99px, 0px);
    width: 865px;
}
// Ovo je za prvi ->

.aboutText {
    text-align: left;
    padding: 85px 90px;
    background-color: #F5F2EE;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.aboutText h2 {
    font-size: 50px;
    letter-spacing: 1.25px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: $primary-color;
}
.aboutText p {
    font-size: 18px;
    font-family: "Lato", sans-serif;
    letter-spacing: 0.45px;
    line-height: 22px;
    color: #444444;
}
.aboutUs:nth-child(2)>.aboutContent>.aboutText {
    background-color: #444;
}
.aboutUs:nth-child(2)>.aboutContent>.aboutText>p,
.aboutUs:nth-child(2)>.aboutContent>.aboutText>h2{
    color: #fff;
}
// Gallery
#gallery {
    text-align: center;
    padding: 20px 0px;
    padding-bottom: 100px;
}
#gallery h3 {
    padding: 50px;
    color: #444444;
}
.galleryGroup {
    overflow: hidden;
}
.galleryRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.carousel__slide {
    width: 100%;
}
.galleryFlex {
    display: flex;
    flex-direction: row;
}
.galleryRow {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.col {
    display: flex;
    gap: 20px;
}
.galleryItem {
    width: 360px;
    height: 360px;
}
.carousel__dots .carousel__dot::after {
    background-color: #444;
    border-radius: 0;
}
.carousel__dots .carousel__dot.is-selected:after {
    opacity: 1;
    width: 13px;
    height: 13px;
    background-color: $primary-color;
}
// Contact 
.contact {
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    position: relative;
    overflow: hidden;
}
.contact p {
    font-size: 18px;
    @include lato();
    letter-spacing: 0.45px;
    color: $light-color;
    margin-bottom: 40px;
}
input, textarea {
    width: 100%;
    padding: 27px 50px; 
    border: 1px solid $light-color2;
    border-radius: 1px;
}
.columns {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}
.btn {
    width: fit-content;
    letter-spacing: 2.4px;
    @include playfair();
    padding: 22px 130px;
    border: 0;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.input_element , .textarea_element {
    position: relative;
    @include lato;
    display: flex;
}
input, textarea {
    font-size: 18px;
}
.textarea_element textarea{
    height: 160px;
    resize: none;
}

.left_side_contact {
    display: flex;
    flex-direction: column;
    width: 615px;
    gap: 45px;
}
.input_element .icon-input {
    font-size: 18px;
    position: absolute;
    top: 25%;
    left: 3%;
    transform: translate(3%, 30%);
}
.textarea_element .icon-input {
    font-size: 18px;
    position: absolute;
    top: 10%;
    left: 3%;
    transform: translate(3%, 30%);
}
.right_side_contact img{
width: 944px;
}
.form-input label{
    font-size: 18px;
    @include lato;
    font-weight: 400;
    color: $light-color;
    letter-spacing: 0.45px;
}

// checkbox
.styled-checkbox {
    position: absolute; 
    opacity: 0; 

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid $light-color;
    }
  
    // Box hover
    &:hover + label:before {
      background: $primary-color;
      
    }
    
  
    // Box checked
    &:checked + label:before {
      background: $primary-color;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 10px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $dark-color;
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $dark-color;
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $dark-color;
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }

// Footer

/* Mobile Responsive Styles */
@media screen and (max-width: 580px) {

    img {
        width: 100%;
        object-fit: cover;
        height: auto;
    }

    .hamburgerMenu {
        display: block;
        z-index: 999;
    }
    #menuList {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 125px;
        right: 0;
        width: 75%;
        height: 100vh;
        background-color: #fff;
        gap: 0px;
        border:1px solid #ababab;
        font-size: 16px;
        letter-spacing: 1.28px;
        justify-content: flex-start;
        align-items: flex-start;
    }
    #menuList li a{
        padding: 40px;
        font-family: "Lato", sans-serif;
        font-size: 16px;
    }
    .logo {
        display: none;
    }

    // header content mobile

    .headerRow {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        object-fit: cover;
        width: 100%;
        gap: 20px;
        align-items: baseline;
    }
    .title {
        display: none;
    }
    .item:nth-child(1),
    .item:nth-child(2){
        writing-mode: inherit;
        transform: none;
        text-align: center;
    }
    .item:nth-child(1){
        order: 0;
    }
    .item:nth-child(2){
        order: 2;
        padding: 0;
    }
    .item:nth-child(3){
        order: 3;
    }
    .item:nth-child(4){
        order: 1;
        padding: 0;
    }
    .item:nth-child(5){
        order: 2;
        margin: 0;
    }
    //About us
    .aboutImage {
        display: none;
    }
    .aboutText h2 {
        font-size: 40px;
    }
    .aboutText {
        padding: 45px;
        text-align: center;
    }
    .aboutContent, 
    .aboutUs:nth-child(2)>.aboutContent{
        transform: none;
        padding: 50px;
        justify-content: center;
        width: 100%;
    }
    // Gallery 
    .galleryRow, .col {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    //Contact
    .contact {
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .right_side_contact {
        display: none;
    }
    .left_side_contact {
        width: 100%;
    }
    //Footer

}