// Font Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
// Font PlayFair
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

// Boje
$primary-color: #C98730;
$secondary-color: #FF4646;
$white-color: #FFFFFF;
$dark-color: #444444;
$light-color: #ABABAB;
$light-color2: #707070;
$bg-color: #FFFFFF;
$border-color: #ABABAB;
$link-color: #C98730;
$active-color: #FF4646;
$box-color: #F5F2EE;

// Precice 
@mixin lato {
    font-family: 'Lato', sans-serif;
}
@mixin playfair {
    font-family: 'Playfair Display', sans-serif;
}


// 
.box-color {
    background-color: $box-color;
}
.box-dark {
    background-color: $dark-color;
}
.text-white {
    color: $white-color;
}
.primary {
    color: $primary-color;
}
.primary-bg {
    background-color: $primary-color;
}
.wrapper {
    width: 80%;
    margin: 0 auto !important; 
}
.m-0 {
    margin: 0 auto;
}
p, h2 {
    margin: 0;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
body {
    margin: 0;
    padding: 0;
}
// Navigacija i header
section {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    border-bottom: 1px solid $border-color;
}
nav {
    display: flex;
    flex-direction: row;
    
}
.hamburger_menu {
    height: 4px;
    width: 28px;
    background-color: #1A1A1A;
    position: relative;
    top: 20px;
}
.hamburger_menu::before {
    position: absolute;
    height: 4px;
    width: 28px;
    background-color: #1A1A1A;
    top: -8px;
    content: ' ';
}
.hamburger_menu::after {
    position: absolute;
    height: 4px;
    width: 28px;
    background-color: #1A1A1A;
    top: 8px;
    content: ' ';
}
.nav-bar {
    padding: 10px 0px;
}
.search-bar {
    padding: 59px;
    font-size: 24px;
    color: #444444;
    border-right: 1px solid #ABABAB;
    cursor: pointer;
}
#search_content {
    height: 900px;
    background: #1A1A1A;
    display: block;
    position: fixed;
    z-index: 9999;
    padding: 300px;
    color: #fff;
    width: auto;
}
.input_element_search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}
.input_element_search span {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    font-size: 30px;
}
.input_element_search input {
    padding: 15px 0px;
    background-color: transparent;
    border: 0;
    color: #fff;
    border-bottom: 1px solid #fff;
}
.input_element_search input::-webkit-input-placeholder {
    font-size: 36px;
    @include playfair();
    color: #fff;
}
.nav-contents {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
.nav-bar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 100px;
}
.nav-bar ul li a {
    font-size: 16px;
    text-align: center;
    letter-spacing: 1.27px;
    text-transform: uppercase;
    text-decoration: none;
    @include lato();
    font-weight: bold;
}
.active_link {
    color: $active-color;
}

// Prva sekcija 
.who_we_are {
    @include playfair();
    padding: 80px 0px 45px 0px;
}
.contents {
    display: flex;
    flex-direction: row;

}
.vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}
.contents span:nth-child(1){
    font-size: 47px;
    line-height: 0.7;
    margin-top: 10px;
}
.contents span:nth-child(2){
    font-size: 47px;
    color: $light-color2;
    opacity: 30%;
    margin-top: 10px;
}
.content-text {
    width: 615px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.title {
    font-size: 34px;
    color: $dark-color;
    font-weight: 100;
    margin-bottom: 13px;
}

.content-text p {
    color: $light-color;
    font-size: 18px;
    @include lato();
    letter-spacing: 0.45px;
    font-weight: 400;
    color: $light-color;
}
.partner-photo {
    width: 615px;
    margin-left: 159px;
    font-size: 21px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.partner-photo a {
    color: $link-color;
}

// section 2
.what_we_do {
    display: flex;
    position: relative;
    margin: 0;
}
.row {
    flex-direction: row;
}
.row_reverse {
    flex-direction: row-reverse;
}

.bg-left {
    width: 50%;
}
.fit-pic {
    width: 100%;
    object-fit: none;
    object-position: 0% 0% 100% 0px;
    height: 631px;
}
.wwd-content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 35%;
    justify-content: center;
    position: absolute;
    padding: 80px 100px;
}
.content_right {
    top: 50%;  
    right: 20%; 
    transform: translate(20%, -50%);
}
.content_left {
    top: 50%;  
    left: 20%; 
    transform: translate(-20%, -50%);
}
.wwd-content h2 {
    font-size: 50px;
    font-weight: 400;
    @include playfair();
    letter-spacing: 1.25px;
}
.wwd-content p {
    font-size: 18px;
    @include lato();
    font-weight: 400;
    letter-spacing: 0.45px;
}

// Slider Gallery

.gallery {

    display: flex;
    flex-direction: column;
    gap: 34px;
    padding: 50px 0px 100px 0px;
}

.medium-title {
    font-size: 60px;
    letter-spacing: 1.5px;
    @include playfair();
    font-weight: 400;
    color: $dark-color;
}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 30px;
}
.row a img {
    height: 364px;
}
.row a {
    max-width: 363px;
}

.bullets {
    text-align: center;
}
.glide__bullet {

    border: 0;
    background-color: $dark-color;
}
.active {
    color: $primary-color;
    background-color: $primary-color;
    padding: 5px;
}
.glide__bullets {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}


// Contact 
.contact {
    margin-left: 200px;
    display: flex;
    flex-direction: row;
    gap: 160px;
    position: relative;
    overflow: hidden;
}
.contact p {
    font-size: 18px;
    @include lato();
    letter-spacing: 0.45px;
    color: $light-color;
    margin-bottom: 40px;
}
input, textarea {
    width: 100%;
    padding: 27px 50px; 
    border: 1px solid $light-color2;
    border-radius: 1px;
}
.columns {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;
}
.btn {
    width: fit-content;
    letter-spacing: 2.4px;
    @include playfair();
    padding: 22px 130px;
    border: 0;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
}
.input_element , .textarea_element {
    position: relative;
    @include lato;
    display: flex;
}
input, textarea {
    font-size: 18px;
}
.textarea_element textarea{
    height: 160px;
    resize: none;
}

.left_side_contact {
    display: flex;
    flex-direction: column;
    width: 615px;
    gap: 45px;
}
.input_element .icon-input {
    font-size: 18px;
    position: absolute;
    top: 25%;
    left: 3%;
    transform: translate(3%, 30%);
}
.textarea_element .icon-input {
    font-size: 18px;
    position: absolute;
    top: 10%;
    left: 3%;
    transform: translate(3%, 30%);
}
.right_side_contact img{
width: 944px;
}
.form-input label{
    font-size: 18px;
    @include lato;
    font-weight: 400;
    color: $light-color;
    letter-spacing: 0.45px;
}

// checkbox
.styled-checkbox {
    position: absolute; 
    opacity: 0; 

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }
  
    // Box.
    & + label:before {
      content: '';
      margin-right: 10px;
      display: inline-block;
      vertical-align: text-top;
      width: 20px;
      height: 20px;
      background: white;
      border: 1px solid $light-color;
    }
  
    // Box hover
    &:hover + label:before {
      background: $primary-color;
      
    }
    
  
    // Box checked
    &:checked + label:before {
      background: $primary-color;
    }
    
    // Disabled state label.
    &:disabled + label {
      color: #b8b8b8;
      cursor: auto;
    }
  
    // Disabled box.
    &:disabled + label:before {
      box-shadow: none;
      background: #ddd;
    }
  
    // Checkmark. Could be replaced with an image
    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 10px;
      background: white;
      width: 2px;
      height: 2px;
      box-shadow: 
        2px 0 0 white,
        4px 0 0 white,
        4px -2px 0 white,
        4px -4px 0 white,
        4px -6px 0 white,
        4px -8px 0 white;
      transform: rotate(45deg);
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $dark-color;
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $dark-color;
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $dark-color;
    color: $dark-color;
    font-size: 18px;
    @include lato;
    font-weight: 400;
  }

// Footer
  footer {
    width: 100%;
    background: #F5F2EE;
    padding: 50px 0px;
    text-align: center;
    position: relative;
    margin-top: 120px;
    padding: 100px 0px 200px 0px;
  }
  footer:before {
    content: "";
    width: 207px;
    height: 10px;
    background: #DDCCB8;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  .border1px {
    border-right: 1px solid #DDCCB8;
    border-left: 1px solid #DDCCB8;
  }
  .footer_row {
    display: flex;
    @include lato();
    justify-content: space-around;
    flex-direction: row;

  }
  .footer_row div {
    min-width: 400px;
  }
  .footer_row div:nth-child(2){
    padding: 0px 60px;
  }
  .footer_row div ul {
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .footer_row div:nth-child(2) ul:nth-child(2) {
    line-height: 30px;
    font-size: 16px;
    padding: 30px 0px 50px 0px;
  }
  .footer_row div:nth-child(3) ul:nth-child(2) {
    line-height: 30px;
    font-size: 16px;
    padding: 30px 0px 50px 0px;
  }
  .footer_row div ul li a {
    text-decoration: none;
    letter-spacing: 3.24px;
  }

  .f-title {
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 9.8px;
    @include playfair();
  }
  .bold {
    font-weight: bold;
  }
  .footer_arr {
    @include lato();
    font-size: 16px;
    padding: 20px;
  }
.icon-input-right {
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(10%, -50%);
    font-size: 20px;
    cursor: pointer;
}
.bg-transparent {
    background-color: transparent;
}

@media (max-width:500px)  {
    /* smartphones, iPhone, portrait 480x320 phones */ 
    .contents {
        display: flex;
        flex-direction: column;
    }
    .vertical {
        writing-mode: initial;
        transform: none;
    }
    .nav-bar ul {
        display: flex;
        flex-direction: column;
    }
    .what_we_do {
        width: 100%;
    }
    .bg-left{
        display: none;
    }

  }
  @media (min-width:481px)  {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 
    wide. */ 
  }
  @media (min-width:641px)  {
    /* portrait tablets, portrait iPad, landscape e-readers,
    landscape 800x480 or 854x480 phones */ 
  }
  @media (min-width:961px)  {
    /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  }
  @media (min-width:1025px) { 
    /* big landscape tablets, laptops, and desktops */ 
  }
  @media (min-width:1281px) {
    /* hi-res laptops and desktops */
  }