@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
.box-color {
  background-color: #F5F2EE;
}

.box-dark {
  background-color: #444444;
}

.text-white {
  color: #FFFFFF;
}

.primary {
  color: #C98730;
}

.primary-bg {
  background-color: #C98730;
}

.wrapper {
  width: 80%;
  margin: 0 auto !important;
}

.m-0 {
  margin: 0 auto;
}

p, h2 {
  margin: 0;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

section {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  border-bottom: 1px solid #ABABAB;
}

nav {
  display: flex;
  flex-direction: row;
}

.nav-bar {
  padding: 10px 0px;
}

.search-bar {
  display: flex;
  justify-content: center;
  justify-items: center;
  justify-self: center;
  padding: 52px;
  font-size: 24px;
  color: #444444;
  border-right: 1px solid #ABABAB;
  margin: 0;
  width: 20px;
  height: 20px;
  position: absolute;
}

.nav-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.nav-bar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 100px;
}

.nav-bar ul li a {
  font-size: 16px;
  text-align: center;
  letter-spacing: 1.27px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

.active_link {
  color: #FF4646;
}

.who_we_are {
  font-family: "Playfair Display", sans-serif;
  padding: 80px 0px 45px 0px;
}

.contents {
  display: flex;
  flex-direction: row;
}

.vertical {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}

.contents span:nth-child(1) {
  font-size: 47px;
  line-height: 0.7;
  margin-top: 10px;
}

.contents span:nth-child(2) {
  font-size: 47px;
  color: #707070;
  opacity: 30%;
  margin-top: 10px;
}

.content-text {
  width: 615px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.title {
  font-size: 34px;
  color: #444444;
  font-weight: 100;
  margin-bottom: 13px;
}

.content-text p {
  color: #ABABAB;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.45px;
  font-weight: 400;
  color: #ABABAB;
}

.partner-photo {
  width: 615px;
  margin-left: 159px;
  font-size: 21px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.partner-photo a {
  color: #C98730;
}

.what_we_do {
  display: flex;
  position: relative;
  margin: 0;
}

.row {
  flex-direction: row;
}

.row_reverse {
  flex-direction: row-reverse;
}

.bg-left {
  width: 50%;
}

.fit-pic {
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: 0% 0% 100% 0px;
     object-position: 0% 0% 100% 0px;
  height: 631px;
}

.wwd-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 35%;
  justify-content: center;
  position: absolute;
  padding: 80px 100px;
}

.content_right {
  top: 50%;
  right: 20%;
  transform: translate(20%, -50%);
}

.content_left {
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

.wwd-content h2 {
  font-size: 50px;
  font-weight: 400;
  font-family: "Playfair Display", sans-serif;
  letter-spacing: 1.25px;
}

.wwd-content p {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  letter-spacing: 0.45px;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 34px;
  padding: 50px 0px 100px 0px;
}

.medium-title {
  font-size: 60px;
  letter-spacing: 1.5px;
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  color: #444444;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: center;
  gap: 30px;
}

.row a img {
  height: 364px;
}

.row a {
  max-width: 363px;
}

.bullets {
  text-align: center;
}

.glide__bullet {
  border: 0;
  background-color: #444444;
}

.active {
  color: #C98730;
  background-color: #C98730;
  padding: 5px;
}

.glide__bullets {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.contact {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  gap: 160px;
  position: relative;
  overflow: hidden;
}

.contact p {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  letter-spacing: 0.45px;
  color: #ABABAB;
  margin-bottom: 40px;
}

input, textarea {
  width: 100%;
  padding: 27px 50px;
  border: 1px solid #707070;
  border-radius: 1px;
}

.columns {
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 100%;
}

.btn {
  width: -moz-fit-content;
  width: fit-content;
  letter-spacing: 2.4px;
  font-family: "Playfair Display", sans-serif;
  padding: 22px 130px;
  border: 0;
  font-size: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
}

.input_element, .textarea_element {
  position: relative;
  font-family: "Lato", sans-serif;
  display: flex;
}

input, textarea {
  font-size: 18px;
}

.textarea_element textarea {
  height: 160px;
  resize: none;
}

.left_side_contact {
  display: flex;
  flex-direction: column;
  width: 615px;
  gap: 45px;
}

.input_element .icon-input {
  font-size: 18px;
  position: absolute;
  top: 25%;
  left: 3%;
  transform: translate(3%, 30%);
}

.textarea_element .icon-input {
  font-size: 18px;
  position: absolute;
  top: 10%;
  left: 3%;
  transform: translate(3%, 30%);
}

.right_side_contact img {
  width: 944px;
}

.form-input label {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #ABABAB;
  letter-spacing: 0.45px;
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: "";
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: white;
  border: 1px solid #ABABAB;
}
.styled-checkbox:hover + label:before {
  background: #C98730;
}
.styled-checkbox:checked + label:before {
  background: #C98730;
}
.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 10px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #444444;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

::-moz-placeholder { /* Firefox 19+ */
  color: #444444;
  color: #444444;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

:-ms-input-placeholder { /* IE 10+ */
  color: #444444;
  color: #444444;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

:-moz-placeholder { /* Firefox 18- */
  color: #444444;
  color: #444444;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

footer {
  width: 100%;
  background: #F5F2EE;
  padding: 50px 0px;
  text-align: center;
  position: relative;
  margin-top: 120px;
  padding: 100px 0px 200px 0px;
}

footer:before {
  content: "";
  width: 207px;
  height: 10px;
  background: #DDCCB8;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.border1px {
  border-right: 1px solid #DDCCB8;
  border-left: 1px solid #DDCCB8;
}

.footer_row {
  display: flex;
  font-family: "Lato", sans-serif;
  justify-content: space-around;
  flex-direction: row;
}

.footer_row div {
  min-width: 400px;
}

.footer_row div:nth-child(2) {
  padding: 0px 60px;
}

.footer_row div ul {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.footer_row div:nth-child(2) ul:nth-child(2) {
  line-height: 30px;
  font-size: 16px;
  padding: 30px 0px 50px 0px;
}

.footer_row div:nth-child(3) ul:nth-child(2) {
  line-height: 30px;
  font-size: 16px;
  padding: 30px 0px 50px 0px;
}

.footer_row div ul li a {
  text-decoration: none;
  letter-spacing: 3.24px;
}

.f-title {
  font-weight: 400;
  font-size: 28px;
  letter-spacing: 9.8px;
  font-family: "Playfair Display", sans-serif;
}

.bold {
  font-weight: bold;
}

.footer_arr {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  padding: 20px;
}

.icon-input-right {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translate(10%, -50%);
  font-size: 20px;
  cursor: pointer;
}

.bg-transparent {
  background-color: transparent;
}/*# sourceMappingURL=style.css.map */